body {font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; margin: 0px 0px 0px 0px; background-color: #ffffff;}

.text1 {color: #333333; font-size: 10px; letter-spacing: 0em;}
.text1small {color: #333333; font-size: 9px; letter-spacing: 0em;}
.texthigh {color: #3cb371; font-size: 10px; letter-spacing: 0em;}
.textlow {color: red; font-size: 10px; letter-spacing: 0em;}
.text2 {color: #fffeec; font-size: 10px; background-color: #003366; letter-spacing: 0em;}
.text3 {color: #013366; font-size: 10px; background-color: #dbecff;}
.text4 {color: #333333; font-size: 13px; letter-spacing: 0em;}
.title1 {color: #fffeec; font-size: 13px; font-weight: bold; background-color: #003366; letter-spacing: 0em;}
.title2 {color: #333333; font-size: 10px; font-weight: bold; letter-spacing: 0em;}
.title3 {color: #003366; font-size: 10px; font-weight: bold; letter-spacing: 0em; background-color: #ecf5ff;}
.title4 {color: #333333; font-size: 10px; font-weight: bold; letter-spacing: 0em; background-color: #efefef;}
.title5 {color: #003366; font-size: 13px; font-weight: bold;}
.labeltext1 {color: #6699cc; font-size: 10px; font-weight: bold; letter-spacing: 0em;}
.tabbieon {color: #003366; font-size: 10px; font-weight: bold; letter-spacing: 0em; background-color: #d9ecff;}
.tabbieoff {color: #003366; font-size: 10px; font-weight: bold; letter-spacing: 0em; background-color: #f8f8f8;}
.text1link {font-size: 10px; letter-spacing: 0em;}
.text2link {font-size: 13px; letter-spacing: 0em;}
.forumlink {font-size: 14px; font-weight: bold; letter-spacing: 0em;}
.servicelink {font-size: 10px; letter-spacing: 0em;}
.commentlink {font-size: 10px; letter-spacing: 0em;}
.headlinedate {color: #666666; font-size: 10px; letter-spacing: 0em;}
.inside {color: #333333; font-size: 10px; letter-spacing: 0em; background-color: #efefef}
.date {color: #fffeec; font-size: 10px;}
.subhead {font-size: 10px; color: #336699; font-weight: bold; background-color: #d1e0f0;}
.subhead2 {font-size: 13px; color: #336699; font-weight: bold;}
.subhead3 {font-size: 10px; color: #336699; font-weight: bold; background-color: #f6f6f6;}
.subhead4 {font-size: 13px; color: #336699; font-weight: bold; background-color: #d1e0f0;}
.subhead5 {font-size: 15px; color: #336699; font-weight: bold;}
.subhead6 {font-size: 10px; color: #336699; font-weight: bold; background-color: #edf5ff;}
.subhead8 {font-size: 28px; color: #336699; font-weight: bold;}
.subheadet {font-size: 15px; color: #336699; font-weight: bold;}

a.text1link:link {text-decoration: underline; color: #003466;}
a.text1link:visited {text-decoration: underline; color: #003466;}
a.text1link:hover {text-decoration: none; color: #003466;}
a.text2link:link {text-decoration: underline; color: #003466;}
a.text2link:visited {text-decoration: underline; color: #003466;}
a.text2link:hover {text-decoration: none; color: #003466;}
a.forumlink:link {text-decoration: none; color: #006699;}
a.forumlink:visited {text-decoration: none; color: #006699;}
a.forumlink:hover {text-decoration: underline; color: #993300;}
a.servicelink:link {text-decoration: underline; color: #003466;}
a.servicelink:visited {text-decoration: underline; color: #003466;}
a.servicelink:hover {text-decoration: none; color: #FF7F00;}
a.commentlink:link {text-decoration: none; color: #003466;}
a.commentlink:visited {text-decoration: none; color: #003466;}
a.commentlink:hover {text-decoration: none; color: #003466;}

a.tabbie:link {text-decoration: none; color: #003366;}
a.tabbie:visited {text-decoration: none; color: #003366;}
a.tabbie:hover {text-decoration: none; color: #003366;}
a.taboff:link {text-decoration: none; color: #B0C0D0;}
a.taboff:visited {text-decoration: none; color: #B0C0D0;}
a.taboff:hover {text-decoration: none; color: #B0C0D0;}

.contentmodule {border: solid; border-width: 1px; border-color: #e4e4e4;}
.relatedlinks {border: solid; border-width: 1px; border-color: #a3bed9; background-color: #efefef;}
.breadcrumb {border: solid; border-width: 1px; border-color: #a3bed9; background-color: #fffeec;}
.breadcrumbtext {font-size: 10px; color: #005BB6;}
.chart {border: solid; border-width: 1px; border-color: #e4e4e4;}

a.breadcrumblink:link {text-decoration: none; color: #003466; font-size: 10px;}
a.breadcrumblink:visited {text-decoration: none; color: #333333; font-size: 10px;}
a.breadcrumblink:hover {text-decoration: underline; color: #003466; font-size: 10px;}

.markets {background-color: #edf5ff; color: #333333; font-family: verdana; font-size: 10px; letter-spacing: -0.05em; width: 150px;}
.exchange {background-color: #edf5ff; color: #333333; font-family: verdana; font-size: 10px; letter-spacing: -0.05em; width: 100px;}
.select {background-color: #edf5ff; color: #333333; font-family: verdana; font-size: 10px; letter-spacing: -0.05em; width: 80px;}
.select2 {background-color: #edf5ff; color: #333333; font-family: verdana; font-size: 10px; letter-spacing: -0.05em; width: 40px;}
.select3 {background-color: #edf5ff; color: #333333; font-family: verdana; font-size: 10px; letter-spacing: -0.05em; width: 100px;}
.select60 {background-color: #edf5ff; color: #333333; font-family: verdana; font-size: 10px; letter-spacing: -0.05em; width: 60px;}
.topics {background-color: #edf5ff; color: #333333; font-family: verdana; font-size: 10px; letter-spacing: -0.05em; width: 200px;}

.input {font-family: verdana; font-size: 10px; width: 150px;}
.forminput {font-family: verdana; font-size: 10px; width: 45px;}
.drop {background-color: #edf5ff; color: #333333; font-family: verdana; font-size: 10px; width: 150px;}
.filterdrop {background-color: #edf5ff; color: #333333; font-family: verdana; font-size: 10px; width: 100px;}
.daydrop {background-color: #edf5ff; color: #333333; font-family: verdana; font-size: 10px; width: 40px;}
.monthdrop {background-color: #edf5ff; color: #333333; font-family: verdana; font-size: 10px; width: 50px;}
.yeardrop {background-color: #edf5ff; color: #333333; font-family: verdana; font-size: 10px; width: 60px;}
.search {font-family: verdana; font-size: 10px; width: 100px;}
.quote {font-family: verdana; font-size: 10px; width: 80px;}
.login {font-family: verdana; font-size: 10px; width: 100px;}
.quicklinks {background-color: #edf5ff; color: #333333; font-family: verdana; font-size: 10px; letter-spacing: -0.05em; width: 180px;}

.footer1 {background-color: #ffffff;}
.footer2 {background-color: #d1e0f0;}
.footer3 {background-color: #6699cc;}

/* CoolMenus 4 - default styles - do not edit */
.clCMAbs{position:absolute; visibility:hidden; left:0; top:0}
/* CoolMenus 4 - default styles - end */

/*Style for the background-bar*/
.clBar{position:absolute; width:10; height:10; background-color:#ecf5ff; layer-background-color:#ecf5ff; visibility:hidden}

/*Styles for level 0*/
.clLevel0,.clLevel0over{position:absolute; padding:2px; font-family:verdana,arial,helvetica; font-size:10px;}
.clLevel0{background-color:#ecf5ff; layer-background-color:#ecf5ff; color:#003366;}
.clLevel0over{background-color:#336699; layer-background-color:#336699; color:#003366; cursor:pointer; }
.clLevel0border{position:absolute; visibility:hidden; background-color:#a3bed9; layer-background-color:#a3bed9}

/*Styles for level 1*/
.clLevel1, .clLevel1over{position:absolute; padding:2px; font-family:verdana, arial,helvetica; font-size:10px;}
.clLevel1{background-color:#ecf5ff; layer-background-color:#ecf5ff; color:#003366;}
.clLevel1over{background-color:#d9ecff; layer-background-color:#d9ecff; color:#003366; cursor:pointer; }
.clLevel1border{position:absolute; visibility:hidden; background-color:#a3bed9; layer-background-color:#a3bed9}

/*Styles for level 2*/
.clLevel2, .clLevel2over{position:absolute; padding:2px; font-family:verdana,arial,helvetica; font-size:10px;}
.clLevel2{background-color:#ecf5ff; layer-background-color:#ecf5ff; color:#003366;}
.clLevel2over{background-color:#d9ecff; layer-background-color:#d9ecff; color:#003366; cursor:pointer; }
.clLevel2border{position:absolute; visibility:hidden; background-color:#a3bed9; layer-background-color:#a3bed9}

/*Styles for javascript tooltip*/
.tip {font:10px/12px Arial,Helvetica,sans-serif; border:solid 1px #666666; width:70px;
      padding:1px; position:absolute; z-index:100; visibility:hidden; color:#333333;
      top:20px; left:90px; background-color:#ffffcc; layer-background-color:#ffffcc;}
